h1 {
    text-align: center;

}

h2 {
    text-align: left;
    border-bottom: 2px solid;
    position: relative;
}

.components {
    position: relative;
    clear: left;
    bottom: 120px;

}

.comments {
    position: relative;
    clear: left;
    bottom: 90px;
}

.data {
    position: relative;
    bottom: 10px;
}

.navfix {
    display: inline;
    padding-bottom: 100%;
}

.linkers {
    position: relative;
    display: inline;
    clear: left;
}
